<!DOCTYPE html>

<html lang="pt-br">

     <head>
     <meta charset="utf-8">
     <title>Brogue</title>
     <link href="style.css" rel="stylesheet" type="text/css">
     </head>

    <body>
        <header id="titulo">
                <h1>Brogui do Vitu</h1>
                <p>Uma página teste construída para testar o servidor HTTP.</p>
         </header>
        <article>
            <header id="pagina">
                <h1>O sono que me consome</h1>

                <p>Como uma pessoa e um programador, dá uma preguiça de descobrir e usar coisas novas.
                    É extremamente irritante ter que sentar, parar e estudar para aprender aquela nova tecnologia
                    ou algo novo. Geralmente eu uso a ideia de que isso irá me ajudar no futuro, me dando uma leve motivação,
                    mas se eu sei que não vou usar, tudo acaba indo para o ralo.</p>
                <p> Algumas vezes, aquela motivação acaba terminando, então geralmente eu uso uma motivação ainda maior: Dinheiro. 
                    Dinheiro é uma das maiores motivações possíveis para continuar qualquer trabalho ou conhecimento a se aprender,
                    visto que compra praticamente tudo neste mundo capitalístico.</p>
            </header>


        </article>

        <footer>
            <p>Caso queira saber mais sobre o autor, clique neste <a href="about.html"> link </a>.</p>
        </footer>

    </body>

</html>   